/en.lang.txt
/en.lang.id.txt
/zlib.dll
/DevIL.dll
/EsoExtractData.exe
/granny2_x64.dll
/ILU.dll
/ILUT.dll
/oo2core_8_win64.dll
/packed_codebooks.bin
/packed_codebooks_aoTuV_603.bin
/ReadMe.txt
/.idea
/en_client.lua
/en_pregame.lua
/output.txt
/en.lang
/New Text Document.txt
/input_untrans.txt
/exportmnf.log
/input_trans.txt
